extends layout

block content
  if sum < 300
    -fontcolor = "white"
  if !name
    -name = ''
  body
    div(style="background-color: ##{hex}; color: #{fontcolor}")  
      ul
        li
          span ##{hex} 
        li
          span #{rgb}
        li 
          span #{name}
